.main-index {
    min-height: 70vh;
}

.banner-principal {
    background-image: url("https://img.freepik.com/vector-gratis/comic-composicion-brillante-explosivos-rayos-semitono_225004-794.jpg?w=2000");
    background-position: center;
    width: 100%;
    height: 40vh;
    margin: 20px auto;
    background-size: cover;
}

@media (max-width: 768px) {
    .banner-principal {
        height: 30vh;
    }
}

@media (min-width: 998px) {
    .banner-principal {
        height: 50vh;
    }
}