
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
    --color1: #EA907A;
    --color2: #FBC687;
    --color3: #F4F7C5;
    --color4: #AACDBE;
}

.modal-dialog{
 max-width: 300px;
 font-family: "Ubuntu", monospace;
}

.modal-content{
    background-color: var(--color4);
}

.modal-footer .btn{
    background-color: var(--color3);
    text-decoration: none;
}

